//
//  Release_FeatureFlags.xcconfig
//  SWPlanets
//
//  Created by Rohit Ragmahale on 04/05/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

RELEASE_SWIFT_ACTIVE_COMPILATION_CONDITIONS = COMPLETED_FEATURE_1

SWIFT_ACTIVE_COMPILATION_CONDITIONS = RELEASE $(RELEASE_SWIFT_ACTIVE_COMPILATION_CONDITIONS)
